color_texto = #565a5c
color_icon = #01a0d7
color-pie = #212121
color-enlace = #01a0d7

body
	background #E8E8E8
	color color_texto
	font-family Arial
	font-size 16px
	
	.cabecera
		font-weight bold
		position absolute
		width 100%
		z-index 1000
		.cabecera-nav
			border-radius 0px
			.navbar-default 
				.navbar-collapse
					margin-top 0.4em
			.topHead
				background-color transparent
				border 0
				.navbar-brand
					padding 0
				a
					img
						height 60px
						width 60px
				#btnMenu
					background-color color-enlace
					border-radius 0
					font-size 1.3em
				ul
					li:hover
						background-color color-enlace
					li
						a
							background-color transparent
							color #fff !important
							font-size 0.8em
							span
								font-size 1.4em
						.dropdown-toggle:hover
							background-color color-enlace
							color #fff
						 .dropdown-toggle:focus
							background-color #E65A4B
							color #fff
						.dropdown-menu
							background-color #E65A4B
							font-size 1em
	h1
		background-color 
		font-family "icomoon"
		font-size 2em
		font-weight bold
		text-align center

	.video_form
		padding 0
		position relative
		.formulario
			bottom 0
			position absolute
			text-align center
						
			div
				float left
				display inline-block
				margin:0
				
				input
					font-size 1em	
					padding 0 1.2em 0 1.2em
					text-align center
					margin 0
		
				button 
					border-radius 0
					box-shadow 0 5px 5px rgba(0,0,0,0.5)
	
	.informacion
		article
			background #fff
			border-radius 0 0 5px 5px;
			border-left 1px solid #ccc
			box-shadow 3px 3px 3px rgba(0,0,0,0.5)
			margin-top 0.5em
			text-align center
			.icon-brujula
				&:before
					content "\e949"
					color: color_icon
					font-family "icomoon-free"
					font-size 3.2em
			.icon-ubicacion
				&:before
					content "\e948"
					color color_icon
					font-family "icomoon-free"
					font-size 3.2em		
			.icon-computer
				&:before
					content "\e957"
					color color_icon
					font-family "icomoon-free"
					font-size 3.2em
			h2
				font-size 1.8em
				font-weight bold
			div
				p
					font-size 1em
	
	.resultados
		.bg-danger
			background-color #E65A4B
			.btn
				background-color #C73B2C
				border-radius 0
				margin-top 0.8em
			.lg
				border-radius 0
			.item-descripcion
				.badge
					background-color color_icon
					.icon
						font-size 1.5em
				.item-valor
					color #fff
					font-size 1.3em
			.titulo
				color #fff
		.label
			border-radius  0
			padding 0.5em

	footer
		background-color color-pie
		ul
			margin-top 1em
			li:not(:last-child)
				&:after
					border-right 1px solid #fff
					content ""
					font-size 10px
					margin-left 1.5em
			li
				a
					color #fff
					font-size 0.8em
					font-weight bold
					&:hover
						color color_header
						text-decoration none
		.iconos-sociales
			#icon_facebook
				&:after
					border-right 0
				a:before
					content "\ea90  Facebook"
					color color_header
					font-family "icomoon-free"
					font-size 1.3em
			#icon_twitter
				&:after
					border-right 0
				a:before
					content "\ea96  Twitter"
					color color_header
					font-family "icomoon-free"
					font-size 1.3em
					

@media screen and (max-width: 768px) 
	.video_form
		.formulario
			width 100%
			div
				left 0
				width 100%
			
@media screen and (min-width: 769px) and (max-width:970px)
		
	.video_form
		.formulario
			width 100%
			div
				left 15%
	
	.tiendas
		.col-xs6
			width 33%
			.items
				font-size 14px
	
@media screen and (min-width: 971px)
	.video_form
		.formulario	
			width 100%
			div
				left 28%
	.tiendas
		.col-xs6
			.items
				font-size 14px
					
