color_texto = #565a5c

body
	background #fff
	.cabecera
		position relative
		.cabecera-nav
			.topHead
				background #E8E8E8
				padding-bottom 0.5em
				ul
					li
						//height 55px
						a
							background-color transparent
							color color_texto
		
	.registro
		.formulario-horizontal
			input
			select
			.input-group-addon
				border-radius 0px
				