color_texto = #565a5c
color_enlace = #00AFF0

body
	background #fff
	.cabecera
		position relative
		.cabecera-nav
			.topHead
				background-color color_enlace
				padding-bottom 0.5em
				ul
					li
						//height 55px
						a
							background-color transparent
							color #fff
		
	.registro
		.formulario-horizontal
			input
			select
			.input-group-addon
				border-radius 0px
				