color_texto = #565a5c
color_icon = #01a0d7
color_header = #22bce0

@font-face {
	font-family: 'icon-social';
	src:url('../fonts/icomoon_red_social.eot?-z15pyw');
	src:url('../fonts/icomoon_red_social.eot?#iefix-z15pyw') format('embedded-opentype'),
		url('../fonts/icomoon_red_social.ttf?-z15pyw') format('truetype'),
		url('../fonts/icomoon_red_social.woff?-z15pyw') format('woff'),
		url('../fonts/icomoon_red_social.svg?-z15pyw#icomoon_red_social') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
	background #E8E8E8
	color: color_texto
	font-family Arial
	font-size 16px
	.cabecera
		background color_header
		box-shadow 0 2px 5px rgba(0,0,0,0.26)
		-webkit-box-shadow 0 2px 5px rgba(0,0,0,0.50)
		margin 0 0 0 0
		position relative
		z-index 1000
		width 100%
		div
			figure
				margin 0
				width 60px
				img
					width 100%
		.menu
			bottom 0
			display flex
			flex-wrap nowrap
			margin 0
			position absolute
			right 0
			li
				list-style none
				margin 0	
				a
					color #fff
					font-size 0.9em
					font-weight bold
					text-decoration none
	.section-map
		margin 0
		.map
			height 400px
			margin 0
			padding 0
			width 100%
			z-index -1
			
		.form-contenedor
			form
				margin 0 3em
				.btn-filtro
				.btn-buscar
					border-radius 0
					box-shadow 0 5px 5px rgba(0,0,0,0.5)
				.input-txt
					border-radius 0px
				#filtro
					.rango
						position relative
						#slider-range
							height 0.4em
							margin-top 0.8em
							.ui-widget-header
								background #5BC0DE
						input
							background transparent
							border none
							color #D9534F
							font-weight bold
							position absolute
							bottom 0.5em
							width 3.5em
						#amount-1
							left -0.5em
						#amount-2
							right -2em
				.form-group
					label
						font-size 0.9em
						text-align left
					input
						font-size 1em
						font-weight normal
					
							
						
			
